@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rouge+Script&display=swap');
:root {
  --green: #5CDB95;
  --blue: #05386B;
  --light-blue: #f4faff;
  --pink: #C0259E;
}

/* Custom classes */
.w-90 {
  width: 90%;
}

.mw-90 {
  max-width: 90%
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

hr {
  border-color: rgba(255, 255, 255, 0.1);;
}

#indexHeader{
    width: 100vw;
    min-width: 100vw;
    /* height:100vh; */
    min-height:100vh;
    background-image: url(../assests/backgroundPicture.png);
}
#indexMainNavDiv{
  width: 100vw;
  /* height: 100px; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 50%, rgba(255, 255, 255, 0) 233.96%);
}

#otherMainNavDiv {
  width: 100vw;
  background: var(--green);

}
#indexMainNav, #otherMainNav{
  width: 90%;
  /* height: 100px; */
  border-bottom: 2px solid var(--green);
  margin: auto;
}

.logo {
  font-family: 'Rouge Script', cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 56.41px;
  color: var(--white) !important;
}

.customNavLink{
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif;
}
.customActiveNav{
    border-bottom: 2px solid #ffffff;
    height: 100%;
    border-radius: 3px;
}
.nav-item{
    margin-inline: 20px !important;
}
.navbar-toggler{
    border: 0px solid transparent;
}
.navbar-toggler:focus{
    outline: none;
}
.jumbotron{
    height: 100% !important;
    background: transparent;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.jumboBody{
  margin-left: 5%;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.jumboHeader{
    font-size: 60px;
    margin-top: 25%;
    font-weight: bold;
}
/* .jumboTitles{
    font-size: 14px;
} */
.jumboText{
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* BUTTON STYLES */
.btn {
  border-radius: 70px;
  border-width: .15rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
}

.btn-outline-success {
  color: var(--green);
}

.btn-success {
  background-color: var(--green);
  border-color: var(--green);
}

/* END BUTTON STYLES */

.msHeader, .about-h2 {
  border-bottom: 2px solid var(--green);
  font-family: 'Open Sans', sans-serif;
  color: var(--blue);
  font-size: 60px;
  font-weight: bold;
  margin-top: 4rem;
  padding-bottom: .8rem;
}

/* LIBRARY SECTION */
.library {
  background: var(--light-blue);
}
.card {
  height: 250px;
  max-height: 250px;
  border-radius: 15px;
  border: none;
  color: var(--white) !important;
  text-align: left;
}

.card p {
  opacity: 0.9;
}

/* END LIBRARY SECTION */

/* FOOTER START */
footer {
  background-color: var(--blue);
  color: var(--white);

}

/* FOOTER END */
  
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

}

.about-body {
  min-height: 100vh;
  position: relative;
}

.about-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* ABOUT PAGE */
.about-h2 {
  display: none;
}

.about-active {
  display: block;
}

.about-ul, .about-ul-sm {
  list-style-type: disclosure-closed;
}

.about-ul a, .about-ul-sm a{
  text-decoration: none !important;
  color: var(--blue) !important;
  font-size: 1.2rem;
  font-weight: 300;
}

.about-ul li:hover, .about-ul a:hover, .about-ul .active a, .about-ul .active  {
  color: var(--green) !important;
  font-size: 1.3rem;
}

#resume a, #resumeDetail a {
  color: var(--green) !important;
  font-size: 1.2rem;
}

#resume a:hover, #resumeDetail a:hover {
  color: var(--blue) !important;
}

/* PAPERS PAGE */
#generalList p {
  background-color: white;
  border-left: 5px solid var(--pink);
  border-radius: 5px 0 0 5px;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  font-size: 1.1rem;
}

.page-link {
  color: var(--blue);
}

.page-item.active .page-link {
  background-color: var(--blue);
  border-color: var(--blue);
}

.dropdown-menu {
  border: none;
  margin-top: .5rem;
}

/* BOOKS PAGE */
#extra-title{
  font-family: 'Open Sans', sans-serif;    
  /* font-size: 13px; */
  font-weight: 100;
  color: rgb(54, 54, 54);
}